.mainSection {
  position: relative;
  padding: 15px 15px 0;
  margin-bottom: 10px;
  background-color: var(--dark-blue-color);
  box-shadow: var(--button-hover);
}

.wrapper {
  display: flex;
  gap: 30px;
  align-items: stretch;
  padding: 15px 0;
  height: 94%;
  position: relative;
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper {
    gap: 10px;
  }
}
