.mainSection {
  position: relative;
  padding: 15px 15px 0;
  margin-bottom: 10px;
  box-shadow: var(--button-hover);
  height: fit-content;
}

.wrapper {
  display: flex;

  gap: 30px;
  align-items: stretch;
  padding: 15px 0;
  height: 94%;
  position: relative;
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
