.mainSection {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--dark-blue-color);
  height: 100vh;
}

.wrapper {
  display: flex;
  gap: 30px;
  padding: 10px 0;
  height: 94%;
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
}
