.form {
  width: fit-content;
}

.submit {
  font-size: var(--link-font-size);
  background-color: var(--pink-color);
  padding: var(--link-padding);
  color: var(--link-color);
  transition: var(--button-transition);
  display: block;
  margin: 0 auto;
}

.submit:hover {
  box-shadow: var(--button-hover);
}
