.header {
  padding: 30px 0;
}

.settings {
  background-image: url("../../../assets/icons/settings.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: transform 0.5s;
}

.settings:hover,
.active {
  transform: rotate(90deg);
}

.buttonsContainer {
  gap: 20px;
}

.buttonsContainer :is(a, button) {
  font-size: var(--link-font-size);
  background-color: var(--pink-color);
  padding: var(--link-padding);
  color: var(--link-color);
}
.isSticky {
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
}

.buttonsContainer button {
  padding-block: 10px;
}
