.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 110px;
}

.input {
  width: 100%;
  background-color: var(--dark-grey-color);
  color: #fff;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

.error {
  color: #931919;
  text-align: end;
  font-size: 16px;
}
