.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding-bottom: 20px;
}

.devContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rsLogo {
  background-image: url("../../../assets/icons/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 100px;
}

.githubLogo {
  background-image: url("../../../assets/icons/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

@media (max-width: 860px) {
  .footer {
    font-size: 14px;
    flex-wrap: wrap;
  }
  .rsLogo {
    height: 30px;
    width: 100px;
  }
}

@media (max-width: 450px) {
  .footer {
    justify-content: space-around;
  }
}
