.docsSection {
  display: flex;
  gap: 10px;
}

.inputEndpoind {
  background-color: var(--dark-grey-color);
  width: calc(50% - 60px);
}

.buttonDocs {
  background-image: url("../../../assets/icons/docs-icon.svg");
  width: 35px;
  height: 45px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  .inputEndpoind {
    width: calc(100% - 45px);
  }
}
