.container {
  position: relative;
}
.back {
  position: absolute;
  top: -2px;
  display: flex;
  align-items: center;
}

.close {
  width: 30px;
  height: 30px;
  background-image: url("../../../assets/icons/arrow-left-gray.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  margin: 40px 0 10px;
}

.link:hover {
  text-decoration: underline;
}
