.container {
  position: relative;
}

.close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -22px;
  background-image: url("../../../assets/icons/arrow-left-gray.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.link:hover {
  text-decoration: underline;
}
