.link {
  font-size: var(--link-font-size);
  background-color: var(--pink-color);
  padding: var(--link-padding);
  color: var(--link-color);
}

.link:hover {
  box-shadow: var(--button-hover);
  background-color: var(--pink-color);
}
