.textarea {
  width: 100%;
  height: 100%;
  background-color: var(--violet-color);
  border: none;
  resize: none;
  caret-color: white;
  color: white;
  padding: 10px;
}

.textarea:focus-visible {
  outline: none;
}
